:root {
  --Soft-red: hsl(5, 85%, 63%);
  --Soft-orange: hsl(35, 77%, 62%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Dark-grayish-blue-o: hsla(236, 13%, 42%, 0.618);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
body {
  position: relative;
  width: 100%;
  max-width: 92vw;
  margin-inline: auto;
  font-family: "Inter", sans-serif;
  background-color: rgba(0, 0, 0, 0);
}


.op::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.397);
  z-index: 1;
  transition: background-color 1s ease;
}


nav {
  display: flex;
  padding: 1.4em 0;
  justify-content: space-between;
  align-items: center;
}
nav .open {
  display: block;
  cursor: pointer;
}

nav img:nth-child(1) {
  width: 3em;
}
nav .nav-links-mb {
  position: fixed;
  top: 0;
  right: 0;
  width: 65vw;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  transform: translateX(100%);
}

nav .active {
  transform: translateX(0%);
}

nav .active .close {
  display: flex;
  align-items: flex-start;
  padding: 1em;
  justify-content: flex-end;
  height: 5em;
}
nav .active .close img {
  cursor: pointer;
  width: 1.4em;
}

nav .nav-links-mb > li {
  list-style: none;
  padding-left: 1em;
  margin-bottom: 1.3em;
  font-size: 1.2rem;
  font-weight: 400;
}
nav .nav-links-mb > li > a,
.nav-links-ds > li > a {
  text-decoration: none;
  cursor: pointer;
  color: var(--Dark-grayish-blue-o);
}
nav .nav-links-mb > li > a:hover,
nav .nav-links-ds > li > a:hover {
  color: var(--Soft-red);
}
nav .nav-links-ds {
  display: none;
}

main > section {
  margin-bottom: 5em;
}

main .section-info img {
  width: 100%;
}
main .section-info .info-text .info-title {
  padding: 0.4em 0;
  font-size: 2.8rem;
  line-height: 1;
  color: var(--Very-dark-blue);
  font-weight: 800;
}
main .section-info .info-text .info-discription {
  color: var(--Dark-grayish-blue);
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1.3em;
}
main .section-info .info-text .read-more {
  letter-spacing: 3px;
  font-size: 0.9rem;
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  color: #fff;
  background-color: var(--Soft-red);
  line-height: 1.5;
  margin-bottom: 1.3em;
}
main .section-info .info-text .read-more:hover {
  background-color: var(--Very-dark-blue);
}

main .section-news {
  background-color: var(--Very-dark-blue);
  color: var(--Off-white);
  padding: 1.3em;
}
main .section-news .news-title {
  color: var(--Soft-orange);
  font-size: 2.4em;
  font-weight: 700;
}
main .section-news > .new-box {
  padding: 1.5em 0;
}
main .section-news .new-box:nth-child(3) {
  border-top: 1px solid var(--Grayish-blue);
  border-bottom: 1px solid var(--Grayish-blue);
}
main .section-news > .new-box > .news > a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #fff;
  line-height: 2;
}
main .section-news > .new-box > .news > a:hover {
  color: var(--Soft-orange);
}
main .section-news > .new-box > .new-discription {
  color: var(--Grayish-blue);
  line-height: 1.8;
  font-size: 1.05rem;
}

.section-summury .summury-box {
  display: flex;
  column-gap: 1.3em;
  margin-bottom: 2.2em;
}

.section-summury .summury-box .right img {
  max-width: 150px;
}
.section-summury .summury-box .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.6em;
}
.section-summury .summury-box .left h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--Grayish-blue);
}
.section-summury .summury-box .left .summury > a {
  font-weight: 800;
  text-decoration: none;
  color: var(--Very-dark-blue);
  font-size: 1.2rem;
}
.section-summury .summury-box .left .summury > a:hover {
  color: var(--Soft-red);
}

.section-summury .summury-box .left .summury-discription {
  font-weight: 700;
  line-height: 1.8;
  color: var(--Dark-grayish-blue);
}

@media (min-width: 1000px) {
  body {
    max-width: 1110px;
    margin: auto;
  }
  nav {
    margin: 1em 0;
  }
  nav .open {
    display: none;
  }
  nav .nav-links-mb {
    display: none;
  }
  .op::before {
    display: none;
  }
  nav .nav-links-ds {
    display: flex;
    list-style: none;
  }
  nav .nav-links-ds > li {
    padding-left: 2.2em;
  }
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }
  main .section-info {
    grid-column: 1/3;
  }
  main .section-info .info-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.3rem;
    place-items: center;
    margin-top: 0.9rem;
  }
  main .section-info .info-text .info-title {
    font-size: 3.4rem;
  }
  .section-summury {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em 0;
    gap: 2em;
  }
  .section-summury .summury-box .right img {
    max-width: 120px;
  }
}
